<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <connectionStrings>
  <add connectionString="DATA SOURCE = PERSONALLAPTOP\SQLEXPRESS2014; INITIAL CATALOG = MyCoffeeShop; INTEGRATED SECURITY = SSPI;"
       name="CoffeeDatabaseConnString" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
